# POLO verification

OEC and contract verification services are available through POLO (Philippine Overseas Labor Office) offices. Some countries may have this, and some may not.

## Australia

There is a POLO (Philippine Overseas Labor Office) office in Canberra, Australia. This office services both Australia and New Zealand.

This office processes [OEC issuance and contract verifications](http://canberrape.dfa.gov.ph/18-announcement/announcement/142-oec-issuance-at-polo-canberra). :warning: The information on their website is outdated; contact them below to get more updated requirements.

As of May 2018, their contact details are:

> * Email: poloaustralia@philembassy.org.au
> * Phone: +612 6273 8882

## Singapore

See: [Singapore](https://www.philippine-embassy.org.sg/labor/overseas-employment-certificate-oec/). Sorry, I don't have notes on this.

<br>
