# POLO verification

> This article is a stub. You can help by expanding it.

## OEC services

- [Australia](http://canberrape.dfa.gov.ph/18-announcement/announcement/142-oec-issuance-at-polo-canberra)
- [Singapore](https://www.philippine-embassy.org.sg/labor/overseas-employment-certificate-oec/)

## Australia

+612 6273 8882

[Australia](http://canberrape.dfa.gov.ph/18-announcement/announcement/142-oec-issuance-at-polo-canberra)

- email poloaustralia@philembassy.org.au
