# _POLO contract verification_ Submitting your requirements

OEC and contract verification services are available through POLO (Philippine Overseas Labor Office) offices. Some countries may have this, and some may not.

## Australia

There is a POLO (Philippine Overseas Labor Office) office in Canberra, Australia. This office services both Australia and New Zealand. This office processes [OEC issuance and contract verifications](http://canberrape.dfa.gov.ph/18-announcement/announcement/142-oec-issuance-at-polo-canberra).

:warning: The information on their website is outdated; contact them below to get more updated requirements. As of May 2018, their contact details are:

> * Email: poloaustralia@philembassy.org.au
> * Phone: +612 6273 8882

## New Zealand

There is no POLO office in New Zealand. The POLO office in Canberra, Australia also services OFW's bound for New Zealand.

## Outside Metro Manila

See the [POEA Regional Offices list](http://www.philippine-embassy.org.sg/labor/overseas-employment-certificate-oec/poea-regional-offices/). This is a list of offices in the Philippines, and is posted by the Embassy in Singapore (?); it may be outdated.

## Other countries

For other countries, look for the nearest POLO office. For example:

* [Singapore](https://www.philippine-embassy.org.sg/labor/overseas-employment-certificate-oec/) _(philippine-embassy.org.sg)_
* [Brunei](http://www.bruneipe.dfa.gov.ph/overseas-employment-certificate-oec/88-labour-section) _(bruneipe.dfa.gov.ph)_
* [Dubai](http://www.polodubaiportal.org/how-to-apply-for-oec/) _(polodubaiportal.org)_

:warning: The domain names aren't always `.gov.ph`, be sure to do your research to verify if the websites are official. I can't vouch for the authenticity of the websites above.

<br>

> Next: [POLO requirements](./polo_requirements.md)
